{% extends 'main.html' %}
{% block title %}Grade: {{ course_name }}{% endblock %}
{% load cmds %}
{% block navigation %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" style="color:#66a1db"><a href="{% url 'dl:home' %}">Home</a></li>
      <li class="breadcrumb-item" style="color:#66a1db"><a href="{% url 'dl:grades' %}">Мои оценки</a></li>
    <li class="breadcrumb-item" aria-current="page" style="color:#66a1db">{{ course_name }}</li>
  </ol>
</nav>
{% endblock %}
{% block students %}
    {% if student %}
        <table class="table table-striped table-light table-borderless table-hover table-hover-cells" >
        <nav class="navbar">
            <h2 >Мои оценки</h2>
        </nav>
        <hr>
              <thead>
                <tr>
                  <th scope="col" >Название курса</th>
                  <th scope="col" style="text-align: right">Оценка</th>
                </tr>
              </thead>
              <tbody>
                {% for s in tasks_list %}
                <tr>
                    <th scope="row"><a href="" style="color: #66a1db">{{ s.title }}</a></th>
                            <th style="text-align: right">
                                        <input type="text" style="background-color: rgba(0,0,0,0);color: black; border: none; text-align: right" disabled placeholder="F(0%)"
                                            {% for a in grades_list %}
                                            {% if s.pk == a.task_id %}
                                                value="{{ a.grade|get_letter }}({{ a.grade }}%)"
                                            {% endif %}
                                            {% endfor %}
                            >
                            </th>
                </tr>
                {% endfor %}
              </tbody>
        </table>
    {% else %}
        error
    {% endif %}
{% endblock %}